# vim-plug plugin installation directory
autoload/plugged

# Vim undo directory
undo/**
!undo/.gitkeep

# Startify sessions directory
session

# temporary directory - log files
tmp
*.log

# netrw history file
.netrwhist

# Y'all don't need to see this!
.DS_Store
plugins/.DS_Store